.solitaireCon {
  .gameContent {
    background-color: #fff;
    padding: 22px;
  }
  :global {
    .at-search-bar__input {
      padding-right: 0;
      .weui-input {
        height: 60px !important;
      }
    }
  }
}
