.solitaireCon {
  .gameContent {
    background-color: #fff;
    margin-top: 11px;
    overflow: hidden;
    height: calc(100vh - 200px - 11px);
    .contentCon {
      position: relative;
      transition: top 0.5s;
    }
  }
  :global {
    .at-search-bar__input {
      padding-right: 0;
      .weui-input {
        height: 30px !important;
      }
    }
  }
}
