.dictionaryCon {
  .tagCon {
    padding-left: 22px;
    position: fixed;
    top: 84px;
    width: 100%;
    z-index: 1;
    height: 72px;
    background: #fff;
    box-shadow: 0px 1px 30px 15px rgba(245, 245, 245, 0.8);
    .tag {
      margin-right: 20px;
    }
  }

  .listCon {
    margin-top: 156px;
    height: calc(100vh - 156px);
  }

  .noResult {
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    color: #666;
  }

  :global {
    .at-search-bar__input {
      padding-right: 0;
      .weui-input {
        height: 60px !important;
      }
    }
    .at-search-bar__action {
      opacity: 0 !important;
      margin-right: -118px !important;
    }
  }
}
